packages
bin32
bin64
*.exe
bin
obj
*.suo
*.opensdf
*.sdf
Out
Build
*.user
*.user
*.orig
*.lib
EnergyStartup/.vs/config/applicationhost.config
frontend/frontoffice/node_modules
frontend/frontoffice/npm-debug.log
frontend/frontoffice/bower_components
frontend/frontoffice/npm_install_text.txt

