@{
    ViewBag.Title = "My Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cirpanova 6<br />
    Novi Sad, Serbia<br />
    <abbr title="Phone">P:</abbr>
    +381621835872
</address>

<address>
    <strong>Email:</strong>   <label>sara_grbic@yahoo.com</label>
</address>